.el-dropdown-items {
    &:hover {
        background-color: $almost-gray !important;
        color: $almost-black !important;
    }
    &--danger {
        color: $almost-red;

        &:hover {
            background-color: $almost-red !important;
            color: $white !important;
        }
    }
}
