.el-dropdown-items {
    &:hover {
        background-color: $almost-gray;
        color: $almost-black;
    }
    &--danger {
        color: $almost-red;

        &:hover {
            background-color: $almost-red;
            color: $white;
        }
    }
}
