@import '@/assets/modules/_all';

//overwrite el-input related component styles
.el-input__inner{
    border: 0 !important;
    background-color: var(--app__backgroundColor);
    border-radius: $border-radius;
    color: $gray;

    &:focus {
        border-color: $almost-black
    }
}

.el-input__inner--no-border {
    border: 0;
}

.el-textarea__inner {
    border: 0 !important;
    background-color: var(--app__backgroundColor);
    border-radius: $border-radius;
    color: $gray;

    &:focus {
        border-color: $almost-black
    }
}

.el-input__count {
    background-color: var(--app__backgroundColor) !important;
}