// Colors
$gray-light: #acb5be;
$light-gray: #f5f8f9;
$white: #fff;
$gray: #adb3b9;
$almost-black: #161616;

$font-size--base: 16px;
$font-family: 'Avenir', Helvetica, Arial, sans-serif;

// Border


// Box-shadow
$box-shadow: 0 2px 3px 0 rgba(52,56,85,0.25);


// Transition

// Input