// Colors
$gray-light: #acb5be;
$light-gray: #f5f8f9;
$almost-gray: #E4EAF0;
$gray: #adb3b9;
$white: #fff;
$almost-black: #161616;
$almost-red: #F56C6C;

$dark-chart: #100C2A;

// Font
$font-size--base: 16px;
$font-family: 'Avenir', Helvetica, Arial, sans-serif;

// Nav
$nav-height: 4rem;

// Border
$border-radius: 4px;

// Box-shadow
$box-shadow: 0 2px 3px 0 rgba(52,56,85,0.25);
$panel-box-shadow:  0 2px 2px rgba(0, 0, 0, 0.25);

// Transition

// Input