@import '@/assets/modules/_all';
@import '@/assets/partials/_all';

#app {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: $light-gray;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    margin: 1.25rem 0;

    border: none;
    border-bottom: 1px solid $gray-light;
}

html {
    box-sizing: border-box;

    font-size: $font-size--base;
}
